h2 {
  padding-bottom: 1em;
}

h3 {
  padding-bottom: 0.5em;
  padding-top: 1em;
}

.technologies-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  margin-top: 1em;
  background-color: rgb(244,244,244,0.9);
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 232, 207);
  padding: 1em;
}

@media only screen and (max-width: 600px) {


  h2 {
    white-space: pre-wrap;
  }
  .technologies-container {
    flex-direction: column;
    gap:0em;
 
  }
  
}