.page-content p {
  font-size: 18px;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1em;


}

.flex-container {
  background-color: rgb(242, 232, 207);
  padding: 2em;
}

.index-slider-container {

  width: 30vw;
  min-width: 400px;
  max-width: 450px;
  justify-self: end;
  background-color: transparent;

}

.index-slider a {
  text-decoration: none;
  color: rgba(225, 255, 255);
}

.index-slider {
  position: relative;

  height: 200px;

  overflow: hidden;
  z-index: 9999;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

}

#index-slider-header {
  transition: background-color 0.8s ease-in-out;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2px;
  padding: 0.5em;
  color: rgb(242, 232, 207);
  border-top-right-radius: 4px;
  border-top-right-radius: 4px;

}

.index-slider.ie9 nav div span {
  display: none;
}

.index-slider ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s .6s;
}

.index-slider ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 135vh;
  height: 135vh;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: border-width .4s .6s;
}



.index-slider-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .4s .6s, transform .4s .6s;
  text-align: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;


}

.index-slider-content h3 {
  color: rgb(242, 232, 207);
  text-align: center;
}

.index-slider-content p {
  position: absolute;
  z-index: 2;
  max-width: 100%;
  padding-left: 12%;
  padding-right: 12%;
  color: rgb(242, 232, 207);
  font-size: 1rem;
  opacity: 1 !important;
}




/* current slide
---------------------------------*/
.index-slider li.current_slide {
  visibility: visible;
}

.index-slider li.current_slide::before {
  border-width: 16rem;
}

.index-slider li.current_slide .index-slider-content {
  opacity: 1;
  transform: scale(1);
}

/* nav
---------------------------------*/
.index-slider-prev,
.index-slider-next {
  position: absolute;
  top: 60%;
  width: 3rem;
  height: 3rem;
  margin-top: -2.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.index-slider-prev:hover,
.index-slider-next:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
}

.index-slider-prev:active,
.index-slider-next:active {
  transform: scale(0.9);
}

.index-slider-next {
  left: auto;
  right: 3px;
}

.index-slider-prev {
  left: 3px;
}

.slider-arrow {
  border: solid rgb(242, 232, 207);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
}

.slider-arrow--left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 3px;
  position: relative;
}

.slider-arrow--right {

  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 3px;
}

#slider_slide {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 100%;
  z-index: 5;
  pointer-events: none;
  will-change: width, height;
  transform: translate(-50%, -50%);
  transition: width .6s, height .6s;
}



.index-links-container {
  padding-bottom: 3em;
  background-color: rgb(242, 232, 207);
  padding: 2em;
  margin-bottom: 3em;

}


.index-links-hover a,
.index-links-hover a:before {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.index-links-item {
  padding-top: 2em;
}

.index-links-container a:hover {
  color: rgb(167, 201, 87);
  box-shadow: inset px 0 0 0 #54b3d6;

}

.index-links-container a {

  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}

.index-links-item_1 a {
  color: rgb(188, 71, 73);
  ;
}

.index-links-item_2 a {
  color: rgb(56, 102, 65);
}

.index-links-item_3 a {
  color: rgb(188, 71, 73);
}

.index-links-item_4 a {
  color: rgb(56, 102, 65);
}

@media only screen and (min-width: 600px) and (max-width:1000px) {


  .index-container {
    display: block;
  }
}


@media only screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }


  .index-slider-container {
    width: 90vw;
    min-width: unset;
    justify-self: center;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .slider-arrow {
    border: solid rgb(242, 232, 207);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
  }

  .index-slider-prev,
  .index-slider-next {
    height: 2em;
    width: 2em;
  }


  .index-links-container a {
    font-size: 16px;
  }

  .index-links-container {
    padding-top: 1em;
  }

}